<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- custom style sheet -->
    <link rel="stylesheet" href="styles/navbar.css">
    <link rel="stylesheet" href="styles/footer.css">
    <link rel="stylesheet" href="styles/login.css">
    <link rel="stylesheet" href="styles/register.css">
    <link rel="stylesheet" href="styles/home.css">
    <link rel="stylesheet" href="styles/saved.css">
    <link rel="stylesheet" href="styles/nouser.css">
    <script src="https://kit.fontawesome.com/a4cf607492.js" crossorigin="anonymous"></script>
    <title>Contact-keeper</title>
</head>
<body>
