<%- include('partials/header') %>
<div class="navbar">
    <nav>
        <label for="" class="logo">Contact Keeper<i class="fa-solid fa-address-book"></i></label>
    </nav>
</div>
<div class="no-user">
    <h1>No User Found, Please Register</h1>
    <form action="/register" method="get">
        <button type="submit" class="text-btn btn nouser-btn">Register</button>
    </form>
</div>
<%- include('partials/footer') %>